{% extends 'base.html' %}

{% block title %} Start new topic {% endblock %}

{% block breadcrumb_navigation %}
	<a href="{% url 'home_url' %}" class="w3-bar-item w3-button w3 w3-round-large" >Boards</a>
	<span class="w3-bar-item">/</span>
	<a href="{% url 'board_topics_url' board.id %}" class="w3-bar-item w3-button w3-round-large" >{{ board.name }}</a>
	<span class="w3-bar-item">/</span>
	<a href="{% url 'new_topic_url' board.id %}" class="w3-bar-item w3-button w3-round-large w3-green" >New Topic</a>
	<span class="w3-bar-item">/</span>
{% endblock %}

{% block content %}
	<div class="w3-card-4 w3-light-grey">
		<div class="w3-container w3-dark-grey"> <h4>Fill below details</h4> </div>
		<form method="post" class="w3-form-element " novalidate>
			{% csrf_token %}
			{{ form.media }}
			{% include 'form_template.html' %}
			<button type="submit" class="w3-button w3-green w3-round w3-wide" >Create Topic</button>
		</form>
	</div>
{% endblock %}