{% extends 'base.html' %}

{% block title %} Reset Password Done {% endblock %}

{% block account %}
	<a href="{% url 'login_url' %}" class="w3-inline-block w3-right w3-button w3-round-large w3-green">Log In</a>
{% endblock account %}

{% block breadcrumb_navigation %}
	<a href="{% url 'home_url' %}" class="w3-bar-item w3-button " >Home</a>
	<span class="w3-bar-item">/</span>
	<a href="{% url 'password_reset_done_url' %}" class="w3-bar-item w3-button w3-green w3-round-large" >Reset Password - Success</a>	
	<span class="w3-bar-item">/</span>
{% endblock %}

{% block content %}
	<div class="w3-card-4 w3-light-grey w3-align-center-50">
		<div class="w3-container w3-dark-grey"><h4>Reset Password Completed</h4></div>
		<div class="w3-panel w3-pale-green w3-text-green w3-padding-large">
			<p>Your password has been successfully resetted. Please log in with your new password using top-right corner button.</p>
		</div>
	</div>
{% endblock %}