{% extends 'base.html' %}

{% block title %} Reset Password {% endblock %}

{% block account %}
	<a href="{% url 'login_url' %}" class="w3-inline-block w3-right w3-button w3-round-large w3-green">Log In</a>
{% endblock account %}

{% block breadcrumb_navigation %}
	<a href="{% url 'home_url' %}" class="w3-bar-item w3-button " >Home</a>
	<span class="w3-bar-item">/</span>
	<a href="{% url 'password_reset_url' %}" class="w3-bar-item w3-button w3-green w3-round-large" >Reset Password</a>
	<span class="w3-bar-item">/</span>
{% endblock %}

{% block content %}
	<div class="w3-card-4 w3-light-grey w3-align-center-50">
		<div class="w3-container w3-dark-grey"><h4>Reset your Password</h4></div>
		<form method="post" class="w3-form-element " novalidate>
			{% csrf_token %}
			<p class="w3-text-dark-grey"><b>Enter your email address to get password reset link mailed to your email. Use that link to reset your password.</b></p>
			{% include 'form_template.html' %}
			<button type="submit" class="w3-button w3-green w3-round w3-wide" >Send reset link</button>
		</form>
	</div>
{% endblock %}