Hi there,
<br><br>
Someone asked for a password reset for the email address {{ email }}.
Follow the link below:<br>
{{ protocol }}://{{ domain }}{% url 'password_reset_update_url' uidb64=uid token=token %}
<br><br>
In case you forgot your Django Boards username: {{ user.username }}
<br><br>
If clicking the link above doesn't work, please copy and paste the URL
in a new browser window instead.
<br><br>
If you've received this mail in error, it's likely that another user entered
your email address by mistake while trying to reset a password. If you didn't
initiate the request, you don't need to take any further action and can safely
disregard this email.
<br><br>
Thanks,
<br><br>
Yusuf
<br>
Discussion Forum Developer